/*
font-family: 'Cabin', sans-serif;
font-family: 'Inter', sans-serif;
*/


.wrapper {
  width: 1400px;
  height: 1536px;

  font-family: 'Cabin';
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*header*/

.header {
  display: flex;
  width: 1296px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 18px;

}

.logo-p {
  align-items: center;
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
}

.header-navigation {
  display: flex;
  gap: 56px;
  align-items: flex-start;
}


.header-navigation-item {
  text-decoration: none;
  color: #0E0F13;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;

}

.header-navigation-item-main {
  text-decoration: none;
  color: #425DF8;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;

}


.header-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;

}


.btn-sign-in {
  display: flex;
  padding: 18px 22px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #DADADA;
  color: #0E0F13;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.72px;


}


.btn-sign-up {
  display: flex;
  padding: 18px 22px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #425DF8;
  background: #425DF8;
  color: #F6FDFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.72px;

}

/*main*/

.content-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin: 234px 52px 255px 52px;


}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;

}

.title h1 {
  color: #0E0F13;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
}

.title p {
  color: #7F828A;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;

}


/* main-content-div */


.main-content-div {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: flex-end;
}


/* plan-left */

.plan {
  display: flex;
  width: 416px;
  height: 789px;
  padding: 56px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #DADADA;
  background: #FDFDFD;
  box-sizing: border-box;
  padding: 56px;
}

.plan-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  align-items: center;

}

.plan-item h5 {
  color: #0E0F15;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 125%;
  width: 304px;
}

.plan p {
  color: #7F828A;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  width: 304px;
}

.price {
  display: flex;
  width: 304px;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.price h5 {
  color: #0E0F15;
  text-align: center;
  font-size: 64px;
  font-weight: 500;

}

.price p {
  color: #7F828A;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}


.list {
  display: flex;
  gap: 10px;
  font-size: 22px;
  font-weight: 400;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #7F828A;
}

.li-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: #425DF8;
  flex-direction: column;

}


.btn-div-in-plan {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #425DF8;
  background: #425DF8;
  padding: 18px 22px;
  gap: 10px;
}

.btn-plan-txt {
  color: #F6FDFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
  text-decoration: none;
}


/* plan-main */

.main-plan {
  display: flex;
  width: 416px;
  height: 817px;
  padding: 56px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #161A34;
  background: #161A34;
  color: #F6FDFF;
  box-sizing: border-box;
  padding: 56px;
}

.main-plan-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  align-items: center;

}

.main-plan-item h5 {
  color: #F6FDFF;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 125%;
  width: 304px;
}

.main-plan-item p {
  color: #F6FDFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  width: 304px;
}

.main-price {
  display: flex;
  width: 304px;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.main-price h5 {
  text-align: right;
  font-size: 64px;
  font-weight: 500;

}

.main-price p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}


.list-item-main {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
  color: #F6FDFF;
  line-height: 125%;

}



/* footer */


.footer-line {
  height: 1px;
  width: 1400px;
  background: #0E0F13;
}


.footer-content {
  display: flex;
  width: 1296px;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer-logo img {
  width: 24px;
  height: 24px;
}


.footer-logo-p {
  color: #7F828A;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.footer-content span {
  color: #7F828A;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}